@model REQCYCLER.Projeto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Projeto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.responsavelId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.responsavelId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Area.valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area.valor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.focalProjetoId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.focalProjetoId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataInicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataFim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataFim)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.objetivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.objetivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.escopo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.escopo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
