@model  REQCYCLER.Models.FluxoViewModel

@using (Html.BeginForm("SalvarProjetoFinal", "Projeto"))
{
    <table class="table-responsive">
        <tr>
            <th>Nível
            </th>
            <th>Usuário
            </th>
            <th>Papel
            </th>
        </tr>

        @for (int i = 0; i < ViewBag.NumeroNiveis; i++)
		{
			 
            <tr>
                <td>
                    <b>@(i + 1)</b> °
                </td>
                <td>
                    <div class="form-group">
                        <select id="ListaUsuarios[@i].Id" name="ListaUsuarios[@i].Id", class="form-control projeto">
                            <option value="-1">SELECIONE</option>
                            @for (int tmpUser = 0; tmpUser < Model.ListaUsuarios.Count; tmpUser++)
                            {
                                <option value="@Model.ListaUsuarios[tmpUser].Id">@Model.ListaUsuarios[tmpUser].Nome</option>
                            }
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select id="ListaPapeis[@i].Id" name="ListaPapeis[@i].Id" class="form-control projeto">
                            <option value="-1">SELECIONE</option>
                            @for (int tmpPapel = 0; tmpPapel < Model.ListaPapeis.Count; tmpPapel++)
                            {
                                <option value="@Model.ListaPapeis[tmpPapel].Id">@Model.ListaPapeis[tmpPapel].Valor</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
        }
    </table>    
    
    <button type="submit" class="btn btn-primary">Concluir</button>                   
}
