@model  IList<REQCYCLER.Models.FluxoViewModel>

@using (Html.BeginForm("SalvarProjetoFinal", "Projeto"))
{
    <table class="table-responsive">
        <tr>
            <th>Nível
            </th>
            <th>Usuário
            </th>
            <th>Papel
            </th>
        </tr>

        @for (int i = 0; i < ViewBag.NumeroNiveis; i++)
		{
			 
            <tr>
                <td>
                    <b>@(i + 1)</b> °
                </td>
                <td>
                    <div class="form-group">
                        <select id="[@i].ListaUsuarios[@i].Id" name="ListaUsuarios", class="form-control projeto">
                            <option value="-1">SELECIONE</option>
                            @for (int tmpUser = 0; tmpUser < Model[i].ListaUsuarios.Count; tmpUser++)
                            {
                                <option value="@Model[i].ListaUsuarios[tmpUser].Id">@Model[i].ListaUsuarios[tmpUser].Nome</option>
                            }
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select id="[@i].ListaPapeis[@i].Id" name="ListaPapeis" class="form-control projeto">
                            <option value="-1">SELECIONE</option>
                            @for (int tmpPapel = 0; tmpPapel < Model[i].ListaPapeis.Count; tmpPapel++)
                            {
                                <option value="@Model[i].ListaPapeis[tmpPapel].Id">@Model[i].ListaPapeis[tmpPapel].Valor</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
        }
    </table>    
    
    <button type="submit" class="btn btn-primary">Concluir</button>                   
}
